body,
html {
  height: 100%;
  margin: 0;
}

p {
  font: 14px 'Gotham', sans-serif;
  line-height: 150%;
  color: #464747;
}

.bg {
  background: url('./images/Background.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  text-align: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  position: relative;
  background-size:100% 100vh;
}

ul {
  padding-right: 10px;
  padding-top: 10px;
}

li {
  display: inline;
  padding-right: 10px;
}

.logo {
  margin-top: 70px;
  height: 66px;
  width: 330px;
}

.tagline {
  padding-top: 20px;
  display: block;
  height: 30px;
  margin: auto;
  width: 500px;
}

.whitebox {
  background-color: #fff;
  border: 1px solid #fff;
  height: 350px;
  margin: auto;
  margin-top: 50px;
  opacity: .85;
  width: 500px;
}

.intro {
  color: #464747;
  margin-top: 35px;
  text-align: justify;
  margin-left: 60px;
  margin-right: 60px;
}

.sneakpeak {
  font-size: 15px;
  font-weight: bold;
}

.designer-email {
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 50px;
}

.thanks {
  font-size: 16px;
  font-weight: bold;
  margin-top: 100px;
}

.invite {
  padding: 20px;
}

.social {
  display: inline;
  height: 30px;
  padding: 0 10px;
  width: 150px;
}

.fb {
  height: 30px;
  width: 30px;
}

.fbinsta {
  background: rgba(0, 0, 0, 0);
  width: 100px;
  position: absolute;
  right: 15px;
  text-align: right;
}

.social {
  /*background: rgba(0, 0, 0, 0);*/
  /*width: 100px;*/
  /*position: absolute;*/
  /*right: 15px;*/
  /*text-align: right;*/
}

.button {
  border-radius: 50%;
  height: 35px;
  vertical-align: middle;
  width: 35px;
}

.design-button {
  border-radius: 50%;
  height: 35px;
  vertical-align: middle;
  width: 35px;
  margin-left: 12px;
}

.fb-button {
  height: 40px;
  width: 135px;
  margin-right: 10px;
  margin-left: 10px;
}

.social-button {
  height: 50px;
  width: 50px;
  margin-right: 10px;
  margin-left: 10px;
}

.invite {
  display: inline;
}

.update {
  text-align: justify;
  margin-right: 70px;
  margin-left: 70px;
}

#mce-EMAIL {
  border: solid 1px #ccc;
  color: #999;
  font-size: 15px;
  height: 32px;
  padding-left: 5px;
  vertical-align: bottom;
  width: 245px;
}

.signup-button {
    background: url("./images/button.png") center center;
    border-radius: 50%;
    display: inline;
    height: 35px;
    vertical-align: middle;
    width: 35px;
}

input[type=email]:not(:valid) {
  background-color: #464747;
}

input[type=email]:valid {
  background-color: #678158;
}

input[type=email]:valid + .signup-button {
  background: url('./images/green.png') center center;
}

#mc_embed_signup_scroll {
  vertical-align: top;
}

@media only screen and (max-width: 768px) {
  .logo {
    margin-top: 70px;
    height: 50px;
    width: 200px;
  }

  .tagline {
    padding-top: 20px;
    display: block;
    height: 20px;
    margin: auto;
    width: 300px;
  }

  .whitebox {
    background-color: #fff;
    border: 1px solid #fff;
    height: 340px;
    margin: auto;
    margin-top: 40px;
    opacity: .85;
    width: 300px;
  }

  #mce-EMAIL {
    border: solid 1px #ccc;
    color: #999;
    font-size: 15px;
    height: 32px;
    padding-left: 5px;
    vertical-align: bottom;
  }
}

@media only screen and (max-width: 600px) {
  .logo {
    margin-top: 70px;
    height: 40px;
    width: 170px;
  }

  .tagline {
    padding-top: 20px;
    display: block;
    height: 20px;
    margin: auto;
    width: 300px;
  }

  .whitebox {
    background-color: #fff;
    border: 1px solid #fff;
    height: 340px;
    margin: auto;
    margin-top: 40px;
    opacity: .85;
    width: 300px;
  }

  .intro {
    color: #464747;
    margin-top: 25px;
  }

  p {
    font: 14px 'Gotham', sans-serif;
    line-height: 110%;
    color: #464747;
  }

  .invite {
    padding: 0px;
  }

  #mce-EMAIL {
    border: solid 1px #ccc;
    color: #999;
    font-size: 15px;
    height: 32px;
    padding-left: 5px;
    vertical-align: bottom;
  }
}
